.project-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.view-projects {
    position: absolute;
    z-index: 201;
    cursor: pointer;

    p {
        font-family: "IBM Plex Mono", monospace;
        font-size: 15px;
        margin: 0;
        padding: 0;
        line-height: 16px;
        text-transform: uppercase;
    }
}

.project-mask {
    position: absolute;
    overflow: hidden;

    .project-square {
        position: absolute;
        overflow: hidden;
        z-index: 101;
    }
}


.project-website {
    position: absolute;
    z-index: 21;
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.project-tagline {
    position: absolute;
    z-index: 21;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.made-with {
    position: absolute;
    z-index: 20;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    transform-origin: left bottom;
    width: 80%;

    span {
        font-size: 9px;
        font-weight: 300;
    }
}

.project-github {
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: rgba(4,4,4,1);
    opacity: .7;
    transition: opacity .5s ease;
    transform-origin: left bottom;

    &:hover {
        opacity: 1;
        transition: opacity .5s ease; 
    }

    p {
        font-size: 10px;
        padding: 0 0 0 5px;
    }
}

.web-link {
    opacity: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.4);
    transition: opacity .5s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        background: rgba(255,255,255,.8);
        padding: 10px 15px;
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
    }

    &:hover {
        opacity: 1;
        transition: opacity .5s ease;
    }
}

.project-iframe {
    position: absolute;
    overflow: hidden;
}

.project-info {
    position: absolute;
    z-index: 11;
    background: rgba(255,255,255,.5);
    overflow: hidden;
    height: auto;

    h2 {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        color: rgba(0,0,0,.8);
        margin: 15px 5%;
        padding: 20px 10%;
        background-color: rgba(255,255,255,.8);
    }

    h2:first-letter {
        font-weight: 800;
        float: left;
        font-size: 3.3em;
        line-height: 0.5em;
        padding-bottom: 0.05em;
        padding-top: 0.2em;
        padding-right: 0.1em;
    }
}

.project-info-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
        margin: 5px 5px 0 0;
    }
}

.project-live-nav {
    position: fixed;
    z-index: 901;
    top: -1px;
    cursor: pointer;

    a {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        font-size: 15px;
        font-family: 'IBM Plexo Mono', monospace;
    }
}